@CHARSET "US-ASCII";

html {
	background: url('../images/backgroundbw.jpg') no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	font-weight: 100;
	font-size: 10em;
	color: rgba(40, 150, 70, 1);
	text-shadow: 0em 0em 0.4em rgba(100, 200, 100, 0.5);
	text-align: center;
	font-family: Helvetica;
	-webkit-font-smoothing: antialiased;
}

div.loginFormContainer {
	background-color: rgba(0, 0, 0, 0.8);
	width: 30em;
	height: 18em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
	margin-bottom: 3%;
	padding: 15px;
	position: relative;
	border-bottom-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;
	border-top-left-radius: 20px 20px;
	border-top-right-radius: 20px 20px;
	-webkit-box-shadow: 0.5em 0.5em 0.4em rgba(0, 0, 0, 0.3);
	overflow: auto;
}

div.messageBoard{
	background-color: rgba(0, 0, 0, 0.8);
	max-width: 62em;
	min-width: 2em;
	max-height: 27em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
	margin-bottom: 3%;
	padding: 15px;
	position: relative;
	border-bottom-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;
	border-top-left-radius: 20px 20px;
	border-top-right-radius: 20px 20px;
	-webkit-box-shadow: 0.5em 0.5em 0.4em rgba(0, 0, 0, 0.3);
	overflow: auto;
}

div.loginForm {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	float: none;
}

div.editField {
	margin-bottom: 1em;
	width: 7em;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	font-size: 1.3em;
	color: rgb(210, 210, 210);
	-webkit-font-smoothing: antialiased;
	font-family: Helvetica;
}

p.message {
	margin-top: 1em;
	width: 7em;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	font-size: 1.3em;
	color: black;
	text-shadow: 2px 2px #ffffff; -webkit-font-smoothing : antialiased;
	font-family: Helvetica;
	-webkit-font-smoothing: antialiased;
}

p.logout {
	margin: 1em;
	width: 7em;
	margin-left: auto;
	margin-right: auto;
	width: 5%;
	font-size: 1.3em;
	color: rgb(255, 50, 50);
	-webkit-font-smoothing: antialiased;
	font-family: Helvetica;
}

a.delete{
	color: rgb(255, 50, 50);
}

a.edit{
	color: rgb(50, 180, 50);
}

a.button {
	color: rgb(255, 50, 50);
}

td {
	margin: 1em;
	width: 7em;
	float: left;
	font-size: 1.3em;
	color: rgb(210, 210, 210);
	-webkit-font-smoothing: antialiased;
	font-family: Helvetica;
}

th {
	margin: 1em;
	width: 7em;
	font-size: 1.3em;
	color: rgb(210, 210, 210);
	-webkit-font-smoothing: antialiased;
	font-family: Helvetica;
}

p.th {
	color: rgb(210, 210, 210);
	font-size: 1.3em;
}

input {
	float: right;
}

image {
	
}

#error {
	color: rgba(240, 150, 70, 1);
	text-shadow: 0.1em 0.1em 0.2em rgba(200, 200, 200, 0.4);
}